<article>
  <a href="/dashboard" class="dashboard-link"> &larr; back to dashboard</a>
  <h2 class="title">Edit Your Blog Post</h2><hr />
  <form class="edit-blog-post-form">
    <div>
      <label for="blog-blog-post-title">Your Blog:</label>
      <input
        class="blog-title"
        name="blog-title"
        type="text"
        value="{{blogPost.title}}"
      />
    </div>
    <div>
      <label for="blog-content">Your Blog's Content</label>
      <input
        class="blog-body"
        name="blog-content"
        type="text"
        value="{{blogPost.blog_content}}"
      />
    </div>
    <div class="created-by-container">
      <p>Created By You On {{format_date blogPost.created_at}}|</p>
      <a href="/blogpost/{{blogPost.id}}">{{blogPost.comments.length}}
        {{format_plural "comment" blogPost.comments.length}}</a>
    </div>
    <button type="submit" class="btn save">Save Your Blog</button>
    <button type="button" class="btn delete-blog">Delete Your Blog</button>
  </form>
</article>
{{! not sure if I want the user to see all of the comments when editing the post }}
{{> comments blogPost.comments}}
<div>
  <button class="btn delete-comment">Nuke Comments</button>
 </div>
{{! these are the scripts }}
 
<script src="/js/delete-comments.js"></script>
<script src="/js/edit-blogpost.js"></script>
<script src="/js/delete-blogpost.js"></script>